@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500;700&family=Nunito:wght@400;500;700&family=Poppins:wght@400;500;700;900&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

:root {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
